<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - HongMing Academic Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontAwesome.css}">
    <link rel="stylesheet" th:href="@{/css/light-box.css}">
    <link rel="stylesheet" th:href="@{/css/owl-carousel.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
    <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
</head>
<body>
    <header class="nav-down responsive-nav hidden-lg hidden-md">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="main-nav" class="collapse navbar-collapse">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{#featured}">Featured</a></li>
                    <li><a th:href="@{#video}">Presentation</a></li>
                    <li><a th:href="@{#blog}">Blog</a></li>
                    <li><a th:href="@{#contact}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sidebar-navigation hidden-sm hidden-xs">
        <div class="logo">
            <a href="#">HongMing<em> Academic Map</em></a>
        </div>
    </div>

    <div class="page-content">
        <section class="content-section">
            <div class="section-heading">
                <h1>Login to Your Account</h1>
                <p>Please enter your credentials to continue.</p>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <input type="text" name="username" class="form-control" placeholder="Username..." required />
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <input type="password" name="password" class="form-control" placeholder="Password..." required />
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </fieldset>
                    </div>
                </div>
            </form>

            <div class="text-center" style="margin-top: 20px;">
                <p>Don't have an account? <a th:href="@{/register}">Register here</a>.</p>
            </div>
        </section>

        <section class="footer">
            <p>&copy; 2025 HongMing Technology. Design by TemplateMo</p>
        </section>
    </div>
</body>
</html>
